* {
    font-family: sans-serif;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --my-blue: #1389b2;
    --my-yellow: #ffd166;
    --my-green: #0cd6a1;
    --my-violet: #f0466f;
}

body {
    background-color: #083b4c;
}



.container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.container h1 {
    color: white;
    font-size: 50px;
}

.cell-container {
    --gap: 2em;
    --columns: 7;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap)
}

.cell {
    width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    height: auto;
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.cell-green {
    background-color: var(--my-green)
}

.cell-blue {
    background-color: var(--my-blue)
}

.cell-yellow {
    background-color: var(--my-yellow)
}

.cell-violet {
    background-color: var(--my-violet);
}